
//=============== Sentry config ===============

export const sentry:boolean = false;
export const sentryDSN:string = "/* enter sentryDSN here */"; 

//=============== Cassandra config ===============

export const cassandraKeyspace:string = "twake_collections";
export const cassandraContactPoint:string[] = ["127.0.0.1"];
export const cassandraLocalDatacenter:string = "datacenter1";
export const defaultCassandraKeyspaceOptions = 
{
    class:"SimpleStrategy",
    replication_factor:3
};

//=============== Redis config ===============

export const redisNamespace:string = "twake_collections";

//=============== RabbitMQ config ===============

export const amqpQueueName:string = "projection_tasks";
export const amqpURL:string = "amqp://localhost";
export const amqpQueueOptions = {
    durable:  true
};
export const amqpMessageOptions = {
    persistent: true
}

//=============== Crypto setup ===============

export const cryptoAlgorithm:string = "aes-256-gcm";
export const keyLen:number = 32; //needs to be adapted to the chosen algorithm (in bytes)
export const password:string = "0000" //choose another hex buffer of arbitrary size
export const salt:string = "00000000000000000000000000000000"; //take another random 16 bytes random buffer


//=============== TED config ===============

export const taskStoreBatchSize:number = 1;
export const defaultTaskStoreTTL:number = 3600;
export const broker:string = "RabbitMQ";